@model AssistantTrainingCore.Models.Worker

@{
    ViewBag.Title = "Delete";
}


<h3>Czy na pewno chcesz usunąć?</h3>

<hr/>

<div class="container">
    <dl class="row">
        <dt class="col-sm-3 text-right">@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd class="col-sm-9 text-left">@Html.DisplayFor(model => model.LastName)</dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3 text-right">@Html.DisplayNameFor(model => model.FirstMidName)</dt>
        <dd class="col-sm-9 text-left">@Html.DisplayFor(model => model.FirstMidName)</dd>
    </dl>

    <dl class="row">
        <dt class="col-sm-3 text-right">@Html.DisplayNameFor(model => model.TimeOfCreation)</dt>
        <dd class="col-sm-9 text-left">@Html.DisplayFor(model => model.TimeOfCreation)</dd>
    </dl>

    <dl class="row">
        <dt class="col-sm-3 text-right">@Html.DisplayNameFor(model => model.TimeOfModification)</dt>
        <dd class="col-sm-9 text-left">@Html.DisplayFor(model => model.TimeOfModification)</dd>
    </dl>

    <dl class="row">
        <dt class="col-sm-3 text-right">@Html.DisplayNameFor(model => model.Tag)</dt>
        <dd class="col-sm-9 text-left">@Html.DisplayFor(model => model.Tag)</dd>
    </dl>
    <dl class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @Html.ActionLink("Back to List", "Index") |
                <input type="submit" value="Delete" class="btn btn-default"/>
            </div>
        }
    </dl>


</div>